<!-- Main -->

				<!-- Slider -->
				<div id="main-slider">
					<div id="slider-holder">
						<ul>
						    <li>
						   <!-- 	<img src="css/images/slider-image-1.jpg" alt="Slider Image 1" /> -->
						        <%= image_tag("slider-image-1.jpg" , size: "700x600" , :alt => "Slider Image 1") %>
						    	<div class="cnt">
						    		<h4>Vestibulum rhoncus ultrices elementum</h4>
						    		<h2>Suspendisse non sem tellus</h2>
						    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla mattis nisl, sit amet tincidunt.</p>
						    		<span class="price"><span class="dollar">$</span> 1599<span class="sub-text">.99</span></span>
						    		<a href="#" class="btn notext" title="Order Now">Order Now</a>
						    		<div class="cl">&nbsp;</div>
						    	</div>
						    </li>
						    <li>
						    <!--	<img src="css/images/slider-image-1.jpg" alt="Slider Image 1" /> -->
								<%= image_tag("slider-image-2.jpg", size: "700x600" , :alt => "Slider Image 2") %>
						    	<div class="cnt">
						    		<h4>Vestibulum rhoncus ultrices elementum</h4>
						    		<h2>Suspendisse non sem tellus</h2>
						    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla mattis nisl, sit amet tincidunt.</p>
						    		<span class="price"><span class="dollar">$</span> 1599<span class="sub-text">.99</span></span>
						    		<a href="#" class="btn notext" title="Order Now">Order Now</a>
						    		<div class="cl">&nbsp;</div>
						    	</div>
						    </li>
						    <li>
						    <!--	<img src="css/images/slider-image-3.jpg" alt="Slider Image 3" /> -->
								<%= image_tag("slider-image-3.jpg",  size: "700x600" , :alt => "Slider Image 3") %>
						    	<div class="cnt">
						    		<h4>Vestibulum rhoncus ultrices elementum</h4>
						    		<h2>Suspendisse non sem tellus</h2>
						    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla mattis nisl, sit amet tincidunt.</p>
						    		<span class="price"><span class="dollar">$</span> 1599<span class="sub-text">.99</span></span>
						    		<a href="#" class="btn notext" title="Order Now">Order Now</a>
						    		<div class="cl">&nbsp;</div>
						    	</div>
						    </li>
						</ul>
					</div>
					<div class="nav">
						<a href="#" title="First Slide">&nbsp;</a>
						<a href="#" title="Second Slide">&nbsp;</a>
						<a href="#" title="Third Slide">&nbsp;</a>
					</div>
				</div>
				<!-- End Slider -->
				<!-- Content -->
				<div id="content">
					<!-- Case -->
					<div class="case">
						<h3>newest</h3>
						<!-- Row -->
						<div class="row">
							<ul>
							    <li>
									<a href="#" class="product" title="Product 1">
									<!--	<img src="css/images/product-1.jpg" alt="Product Image 1" /> -->
										<%= image_tag("product-1.jpg", :alt => "Product Image 1") %>
										<span class="order model">Model Name</span>
										<span class="order">catalog number: <span class="number">1925</span></span>
										<span class="order"><span class="buy-text">Buy Now</span><span class="price"><span class="dollar">$</span>599<span class="sub-text">.99</span></span></span>
									</a>
							    </li>
							    <li>
									<a href="#" class="product" title="Product 2">
									<!--	<img src="css/images/product-2.jpg" alt="Product Image 2" /> -->
									<%= image_tag("product-2.jpg", :alt => "Product Image 2") %>
										<span class="order model">Model Name</span>
										<span class="order">catalog number: <span class="number">1357</span></span>
										<span class="order"><span class="buy-text">Buy Now</span><span class="price"><span class="dollar">$</span>1999<span class="sub-text">.99</span></span></span>
									</a>	
							    </li>
							    <li>
									<a href="#" class="product" title="Product 3">
									<!--	<img src="css/images/product-3.jpg" alt="Product Image 3" /> -->
									    <%= image_tag("product-3.jpg", :alt => "Product Image 3") %>
										<span class="order model">Model Name</span>
										<span class="order">catalog number: <span class="number">1264</span></span>
										<span class="order"><span class="buy-text">Buy Now</span><span class="price"><span class="dollar">$</span>15<span class="sub-text">.99</span></span></span>
									</a>	
							    </li>
							    <li>
									<a href="#" class="product" title="Product 4">
									<!--	<img src="css/images/product-4.jpg" alt="Product Image 4" /> -->
									<%= image_tag("product-4.jpg", :alt => "Product Image 4") %>
						
										<span class="order model">Model Name</span>
										<span class="order">catalog number: <span class="number">1111</span></span>
										<span class="order"><span class="buy-text">Buy Now</span><span class="price"><span class="dollar">$</span>1999<span class="sub-text">.99</span></span></span>
									</a>	
							    </li>
							</ul>
							<div class="cl">&nbsp;</div>
						</div>
						<!-- End Row -->
						<!-- Row -->
						<div class="row last-row">
							<ul>
							    <li>
									<a href="#" class="product" title="Product 5">
									<!--	<img src="css/images/product-5.jpg" alt="Product Image 5" />  -->
									    <%= image_tag("product-5.jpg", :alt => "Product Image 5") %>
										<span class="order model">Model Name</span>
										<span class="order">catalog number: <span class="number">357</span></span>
										<span class="order"><span class="buy-text">Buy Now</span><span class="price"><span class="dollar">$</span>874<span class="sub-text">.99</span></span></span>
									</a>
							    </li>
							    <li>
									<a href="#" class="product" title="Product 6">
									<!--	<img src="css/images/product-6.jpg" alt="Product Image 6" />-->
										<%= image_tag("product-6.jpg", :alt => "Product Image 6") %>
										<span class="order model">Model Name</span>
										<span class="order">catalog number: <span class="number">1926</span></span>
										<span class="order"><span class="buy-text">Buy Now</span><span class="price"><span class="dollar">$</span>1199<span class="sub-text">.99</span></span></span>
									</a>	
							    </li>
							    <li>
									<a href="#" class="product" title="Product 7">
									<!--	<img src="css/images/product-7.jpg" alt="Product Image 7" /> -->
									 <%= image_tag("product-7.jpg", :alt => "Product Image 7") %>
										<span class="order model">Model Name</span>
										<span class="order">catalog number: <span class="number">1321</span></span>
										<span class="order"><span class="buy-text">Buy Now</span><span class="price"><span class="dollar">$</span>27<span class="sub-text">.99</span></span></span>
									</a>	
							    </li>
							    <li>
									<a href="#" class="product" title="Product 8">
									<!--	<img src="css/images/product-8.jpg" alt="Product Image 8" /> -->
									    <%= image_tag("product-8.jpg", :alt => "Product Image 8") %>
										
										<span class="order model">Model Name</span>
										<span class="order">catalog number: <span class="number">299</span></span>
										<span class="order"><span class="buy-text">Buy Now</span><span class="price"><span class="dollar">$</span>4<span class="sub-text">.99</span></span></span>
									</a>	
							    </li>
							</ul>
							<div class="cl">&nbsp;</div>
						</div>
						<!-- End Row -->
					</div>
					<!-- End Case -->
					<!-- Case -->
					<div class="case">
						<h3>Bestsellers</h3>
						<!-- Products Slider -->
						<div class="products-slider">
							<div class="slider-holder">
								<ul>
								    <li>
								    	<a class="product" title="Product 9">
										<!--	<img src="css/images/product-9.jpg" alt="Product Image 9" /> -->
										    <%= image_tag("product-9.jpg", :alt => "Product Image 9") %>
											<span class="order model">Model Name</span>
										<span class="order">catalog number: <span class="number">347</span></span>
											<span class="order"><span class="buy-text">Buy Now</span><span class="price"><span class="dollar">$</span>14<span class="sub-text">.99</span></span></span>
										</a>
								    </li>
								    <li>
								    	<a class="product" title="Product 10">
										<!--	<img src="css/images/product-10.jpg" alt="Product Image 10" /> --.
										    <%= image_tag("product-10.jpg", :alt => "Product Image 10") %>
											<span class="order model">Model Name</span>
										<span class="order">catalog number: <span class="number">537</span></span>
											<span class="order"><span class="buy-text">Buy Now</span><span class="price"><span class="dollar">$</span>24<span class="sub-text">.99</span></span></span>
										</a>
								    </li>
								    <li>
								    	<a class="product" title="Product 11">
										<!--	<img src="css/images/product-11.jpg" alt="Product Image 11" />  -->
										    <%= image_tag("product-11.jpg", :alt => "Product Image 11") %>
											<span class="order model">Model Name</span>
											<span class="order">catalog number: <span class="number">710</span></span>
											<span class="order"><span class="buy-text">Buy Now</span><span class="price"><span class="dollar">$</span>4<span class="sub-text">.99</span></span></span>
										</a>
								    </li>
								    <li>
								    	<a class="product" title="Product 12">
										<!--	<img src="css/images/product-12.jpg" alt="Product Image 12" /> -->
										    <%= image_tag("product-12.jpg", :alt => "Product Image 12") %>
											<span class="order model">Model Name</span>
											<span class="order">catalog number: <span class="number">32</span></span>
											<span class="order"><span class="buy-text">Buy Now</span><span class="price"><span class="dollar">$</span>7<span class="sub-text">.99</span></span></span>
										</a>
								    </li>
								     <li>
								    	<a class="product" title="Product 9">
										<!--	<img src="css/images/product-9.jpg" alt="Product Image 9" /> -->
										<%= image_tag("product-9.jpg", :alt => "Product Image 9") %>
											<span class="order model">Model Name</span>
										<span class="order">catalog number: <span class="number">347</span></span>
											<span class="order"><span class="buy-text">Buy Now</span><span class="price"><span class="dollar">$</span>14<span class="sub-text">.99</span></span></span>
										</a>
								    </li>
								    <li>
								    	<a class="product" title="Product 10">
										<!--	<img src="css/images/product-10.jpg" alt="Product Image 10" /> -->
										    <%= image_tag("product-10.jpg", :alt => "Product Image 10") %>
											<span class="order model">Model Name</span>
										<span class="order">catalog number: <span class="number">537</span></span>
											<span class="order"><span class="buy-text">Buy Now</span><span class="price"><span class="dollar">$</span>24<span class="sub-text">.99</span></span></span>
										</a>
								    </li>
								    <li>
								    	<a class="product" title="Product 11">
										<!--	<img src="css/images/product-11.jpg" alt="Product Image 11" /> -->
										    <%= image_tag("product-11.jpg", :alt => "Product Image 11") %>
											<span class="order model">Model Name</span>
											<span class="order">catalog number: <span class="number">710</span></span>
											<span class="order"><span class="buy-text">Buy Now</span><span class="price"><span class="dollar">$</span>4<span class="sub-text">.99</span></span></span>
										</a>
								    </li>
								    <li>
								    	<a class="product" title="Product 12">
										<!--	<img src="css/images/product-12.jpg" alt="Product Image 12" /> -->
										    <%= image_tag("product-12.jpg", :alt => "Product Image 12") %>
											<span class="order model">Model Name</span>
											<span class="order">catalog number: <span class="number">32</span></span>
											<span class="order"><span class="buy-text">Buy Now</span><span class="price"><span class="dollar">$</span>7<span class="sub-text">.99</span></span></span>
										</a>
								    </li>
								</ul>
							</div>
							<div class="nav">
								<a href="#" class="prev" title="Previous">Prev</a>
								<a href="#" class="next" title="Next">Next</a>
								<div class="cl">&nbsp;</div>
							</div>
						</div>
						<!-- End Products Slider -->
					</div>
					<!-- End Case -->
				</div>
				<!-- End Content -->
			</div>
			<!-- End Shell -->
		</div>
		<!-- End Main -->
		<div id="footer-push" class="cl">&nbsp;</div>
	</div>
	<!-- End Wrapper -->